.container {
    height: 500px;
    width: auto;
    padding-top: 100px;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: center;
} 

.grid {
    border: 2px solid red;
    height: 50px;
    width: 50px;
    padding: 5px;
}